<!-- Cabeçalho -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class = "header-footer-title">
      Seu sistema de nutrição
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- cabeçalho -->

<ion-content [fullscreen]="true" class="ion-padding" color="light">

    <div id="container">
      <ion-item>
        <ion-input 
          label="Código nutricionista" 
          type="number" 
          value=""
          class="input-login"
          required
          [(ngModel)]="codigoInserido">
        </ion-input>
      </ion-item>
      <br/>


      <div>
        <ion-button
        color="medium"
        (click)="verificarCodigo()">
          <ion-label>Validar código</ion-label>
        </ion-button>
      </div>      
      
      <br/>

  </div>
</ion-content>

<!-- Rodapé -->
<ion-footer>
  <ion-toolbar>
    <ion-title class = "header-footer-title">
    </ion-title>
  </ion-toolbar>
</ion-footer>